<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'logo-512.png' | prepend: '/assets/images/' | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'logo-512.png' | prepend: '/assets/images/' | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'logo-512.png' | prepend: '/assets/images/' | absolute_url }}">
<link rel="manifest" href="{{ 'logo-512.png' | prepend: '/assets/images/' | absolute_url }}">
<meta name="msapplication-TileColor" content="#333">
<meta name="theme-color" content="#333">

<!-- end custom head snippets -->